libutils/*
libutils_md/*
utils/*
download_test.ipynb
**/__pycache__/**
**/*.pth
methods/*
**/**/*.csv
benchmarks/megadepth1500/data/**
benchmarks/graz_high_res/data/**
sandesc_models/*
__bin/*
nohup.out
