**/__pycache__/**
**/*.pth
methods/*
**/**/*.csv
sandesc_models/*
__bin/*
nohup.out
benchmarks/read_linear_scaling_dedode.ipynb

# IMC benchmark files
benchmarks/imc/to_import_imc/*
benchmarks/imc/image-matching-benchmark

# results, data and intermediate files
benchmarks/*/intermediate/*
benchmarks/*/*results/
benchmarks/*/data
